.container-centered{
    max-width: 1000px;
    margin: 0 auto;
}

body{
    font-family: 'Roboto', sans-serif;
}


/* navbar */
nav{
    background-color: #255ee9;
}

#nav-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    min-height: 80px;
}


#nav-inner ul{
    list-style-type: none;
}


.logo{
    width: 100px;
    height: 80px;
    background-image: url(/img/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


#links{
    display: flex;
    align-items: stretch;
}

#links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 27px;
    color: white;
    text-align: center;
    /* test */
}

#links li{
    height: 30px;
    /* test */
}



#login{
    width: 100px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.radius-button{
    height: 1.6em;
    width: 100%;
    border-radius: 18px;
    border-style: none;
}
/* navbar */



/* header */
header{
    background-image: url(/img/jumbo.png);
    background-size: cover;
}

#flex-head{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 90px 0;
}


#title{
    display: flex;
    align-items: center;
    height: 60px;
    color: white;
}

#paragraph{
    max-width: 670px;
    width: 100%;
    height: 80px;
}


#container-button{
    display: flex;
    gap: 1.5em;
}


#container-button button{
    width: 200px;
    height: 2em;

}

#btn1{
    background-color: whitesmoke;
    color: black;
}


#btn2{
    background-color: #23272a;
    color: white;
}
/* /header */



/* main */

.container1{
    display: flex;
    justify-content: space-around;
    padding-bottom: 120px;
}

.container2{
    display: flex;
    justify-content: space-around;
    padding: 120px  0;
}


.container3{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding-bottom: 120px;
    background-color: #b3b3b3;
    margin-top: -4px;
}

.container5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 110px;
    background-color: #b3b3b3;
}


.image-content1{
    width: 530px;
    height: 390px;
}

#style-image1{
    background-image: url(/img/item1.svg);
    background-size: cover;
}

h2{
    font-size: xx-large;
    padding: 30px 0;
}

.text-content1{
    width: 370px;
    height: 380px;
    text-align: initial;
}


.wawe-container img{
    opacity: 0.3;
}

.wawe-container2 img{
    opacity:0.3;
    rotate: 180deg;
}


#container-back{
    background-color: #b3b3b3;
    margin-top: -4px
}


#style-image2{
    background-image: url(/img/item2.svg);
    background-size: cover;
}

#style-image3{
    background-image: url(/img/item3.svg);
    background-size: cover;
}

#style-image4{
    background-image: url(/img/item4-big.svg);
    background-size: cover;
}

.text-center{
    text-align: center;
}

.text-content4{
    width: 880px;
    height: 135px;
}

.image-content4{
    width: 960px;
    height: 500px;
}

#final-text{  
    text-align: center;
    height: 30px;
}

#download-button{
    width: 175px;
    height: 45px;
}


#btn3{
    background-color: #7289da;
    color: white;
}
/* /main */




/* foooter */
#back-footer{
    width: 1300px;
    height: 550px;
    background-color:#23272a;

}

#container-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 50px;
    border-bottom: 2px solid rgb(30, 143, 235);
}

#back-footer ul{
    list-style-type: none;

}


#social-links{
    width: 214px;
    height: 140px;
   
}

#social-links h3{
    color: #7188da;
}

#img-lang{
    padding-top: 1em;
}

#img-lang img{
    height: 1em;
}

#select-style{
    border-style: none;
    color: white;
    background-color: #23272a;
}

.list1 {
    width: 100px;
    height: 175px;
    
}


footer div ul li strong{
    color: #7188da;
}

footer div ul li{
    color: white;
    padding: 5px 0;
}

#list2{
    width: 110px;
    height: 345px;
   
}



/* footer */

#footer-flex{
    display: flex;
    justify-content: space-between;
}
.social-logo{
    color: white;
    padding: 15px 0;
}

.social-logo i{
    padding-right: 8px;
}

#login-final{
    padding: 2em;
    
}
#btn4{
    background-color: #7289da;
    color: white;
    width: 75px;
    height: 30px;
}

#logo-footer{
    margin: 1em; 
}

/* /footer */